<div class="container clearfix">
<div class="MainMenu">
        <h3>Main Menu</h3>
        <div>
        <p>下記のメニューよりクリックしてください。</p>
        <div class="layout">
        <%= link_to("単語タグマスタ","/tag")%>
        <%= link_to("単語マスタ","/word") %>
        <%= link_to("単語帳","/book") %>
        <%= link_to("ランキング","/book/ranking") %>
        <div class="link">
        <%= link_to("ログアウト","/logout") %>
        </div>
        </div>
        </div>
</div>
</div>        


