<div class="container clearfix">
    <h3>Ranking</h3>
    <% if @id %>
        <div class="center rank">
            <p>お疲れ様でした！</p>
            <p>あなたの成績は、10問中<%= @id.floor %>問正解 正解率
            <%= (@id/10*100).floor %>%
            </p>
        </div>
    <% end %>
    <div class>
        <span class="adjust_1">順位</span>
        <span class="adjust_2">名前</span>
        <span class="adjust_3">正解率</span>
    </div>
    <% @users.each do |user| %>
        <% if user.id == $current_user.id %>
            <% if user.highest_rate == @user_before_rate %>
                <% @count += 1 %>
            <% else %>
                <% @count = 0 %>
            <% end %>
                <div class="red">
                    <span class="adjust_1"><%= "#{@number - @count}位" %></span>
                    <span class="adjust_2"><%= user.name %></span>
                    <span class="adjust_3"><%= "#{user.highest_rate.floor}%" %></span>
                    <% @number += 1 %>
                    <% user_before_rate = user.highest_rate %> 
                </div>
        <% else  %>
            <% if user.highest_rate == @user_before_rate %>
                <% @count += 1 %>
            <% else %>
                <% @count = 0 %>
            <% end %>
            <div>
            <span class="adjust_1"><%= "#{@number - @count}位" %></span>
            <span class="adjust_2"><%= user.name %></span>
            <span class="adjust_3"><%= "#{user.highest_rate.floor}%" %></span>
            <% @number += 1 %>
            <% @user_before_rate = user.highest_rate %>
            </div>
        <% end %>
    <% end %>
    <div class="link">
        <%= link_to("メインメニュー","/main") %>
    </div>
</div> 