<div class="container clearfix">
    <h3>単語帳</h3>
    <div class="create_header">
        <span class="content">問題</span>
        <span class="content c1">回答</span>
        <span class="content c2">正解・不正解</span>
    </div>
    <% @ids.each do |id| %>  
        <% question = Question.find_by(id: id) %>
        <div class="DivLink">
        <%= @number %>
            <span class="content cr0"><%= "#{question.name}の意味は？" %></span>
        <% if !question.user_answer%>
            <span class="content c1">未回答</span>
        <% else %>
            <span class="content c1"><%= question.user_answer %></span>
        <% end %>
            <span class="content cr2"><%= question.result %></span>
        </div>
        <% @number = @number+1 %>
    <% end %>
    <div class="center">
    <%= link_to("ランキング","/book/#{@id}/ranking") %>
    </div> 
</div>    