<div class="container clearfix">
    <h3>単語帳</h3>
    <% if Word.word_size_valid? %>
        <div class="center">
            <%= link_to("新しく単語帳を始める","/book/create") %>
        </div>
        
    <% else %>
        <div class="center red">
            <p>単語を10個以上登録してください</p>
        </div>  
    <% end %>
    <% if @wordbooks %>
            <% @wordbooks.each do |wordbook| %>
                <div class="center past">
                    <% if wordbook.finish_number == 10 %>
                        <p><%= wordbook.correct_number %>/10点<p>
                        <%= link_to("もう一度やる","/book/#{wordbook.id}/again") %>
                        <%= link_to("回答を見る","/book/#{wordbook.id}/show") %>
                    <% else %>
                        <p>/10点<p>
                        <%= link_to("もう一度やる","/book/#{wordbook.id}/again") %>
                        <%= link_to("続きから","/book/#{wordbook.id}/continue") %>
                    <% end %>
                </div>
            <% end %>
            <div class="center pagenation"><%= paginate(@wordbooks) %></div>
    <% end %>
        <div class="link clear">
            <%= link_to("メインメニュー","/main") %>
        </div>
</div>
