<div class="container clearfix">
    <h3>単語マスタ</h3>
    
        <div class="result">
            <% if @words %>
                <% @words.each do |word| %>
                    <% if word.user_id == $current_user.id %>
                        <div>
                            <%= link_to(word.name,"/word/#{word.id}") %>
                            <%= word.meaning %>
                        </div>
                    <% else %>
                        <div>
                            <%= word.name %>
                            <%= word.meaning %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    

    

    <div class="csv_output">
        <%= link_to "csvで出力する", "/word/search_name_meaning?format=csv" %>
    </div>

    <div class="link">
        <%= link_to("検索画面","/word/search") %>
    </div>
</div>