<div class="container clearfix">
    <h3>単語マスタ</h3> 
    <% $ids.each do |id| %>
        <% if id != "" %>
            <% @tag_words = TagWord.where(tag_id: id) %>
            <div class="result">
                <div>
                    <%= tag = Tag.find_by(id: id).name %>
                </div>
                <% @tag_words.each do |tag_word| %>
                    <% word = Word.find_by(id: tag_word.word_id) %>
                    <% if word.user_id == $current_user.id %>
                        <div>
                            <%= link_to(word.name,"/word/#{word.id}") %>
                            <%= word.meaning %>
                        </div>
                    <% else %>
                        <div>
                            <%= word.name %>
                            <%= word.meaning %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <div class="csv_output">
        <%= link_to "csvで出力する", "/word/search_tag?format=csv"%>
    </div>
    <div class="link">
    <%= link_to("検索画面","/word/search") %>
    </div>
</div>