<div class="container clearfix">
    <h3>単語マスタ</h3>
    <%= form_with url:"/word/result" do |f| %>
        <div class="block">
            <%= f.label "単語:" %>
            <%= f.search_field :name %>
        </div>
        <div class="block">
            <%= f.label "意味:" %>
            <%= f.search_field :meaning %>
        </div>
        <div class="block">
            <%= f.label "単語タグ:" %>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
        </div>
        <div class="block">
            <%= f.label "類義語:" %>
            <%= f.search_field :similar %>
        </div>
        <div class="submit">
            <%= f.submit "検索" %> 
        </div>
    <% end %>

    <div class="link">
        <%= link_to("メニュー","/word") %>
    </div>
</div>